<!--include:about-section:start-->
<div class="section">
	<div class="container clearfix">
	<h2>About Us</h2>
	At Wireless Security Alarms we specialise in wireless systems. Our engineers are fully qualified security engineers not electricians and as such have the necessary skills not only to install your system to the highest standard but should a fault develop they will identify the faulty component and repair or replace it quickly without fuss.</br></br>
	Our engineers completed recognised apprenticeships in the 1980’s and since then have maintained their skills working on a variety of disciplines.</br></br>
	We don’t employ commissioned sales staff and as you will see from our products pages the prices are clearly displayed with no hidden extras, we do however prefer to visit your premises prior to installation to ensure that we can configure the system to ensure ease of use and maximum protection for your home.</br></br>
	In order to minimise the disruption to you we programme the entire system at our workshop exactly to your specification and as a result of this approach your system will be installed in just a few hours with the minimum disruption.</br></br>
	Based in East Dunbartonshire we cover the Greater Glasgow Area, the Central Belt, Lanarkshire, Renfrewshire, Dunbartonshire, Ayrshire, Inverclyde and Argyll at the prices stated.</br></br>
	For installations out with these areas additional travel costs will be applied.
	</div>
</div>
<!--include:about-section:start-->