<!--include:detail-tab:start-->
<!-- <div class="postcontent nobottommargin clearfix">
 -->	
 <div class="container clearfix">
 	<!-- <div class="clear"></div>	 -->
	<div class="line"></div>
 	<h4>{{ page.system-details-tab-heading }}</h4>
	<div class="tabs side-tabs tabs-bordered clearfix" id="tab-1">
		<ul class="tab-nav clearfix">
			{% if page.system-details-tab-tab1-heading %}
				<li><a href="#tabs-1">{{ page.system-details-tab-tab1-heading }}</a></li>
			{% endif %}
			{% if page.system-details-tab-tab2-heading %}
				<li><a href="#tabs-2">{{ page.system-details-tab-tab2-heading }}</a></li>
			{% endif %}
			{% if page.system-details-tab-tab3-heading %}
				<li><a href="#tabs-3">{{ page.system-details-tab-tab3-heading }}</a></li>
			{% endif %}
			{% if page.system-details-tab-tab4-heading %}
				<li><a href="#tabs-4">{{ page.system-details-tab-tab4-heading }}</a></li>
			{% endif %}
			{% if page.system-details-tab-tab5-heading %}
				<li><a href="#tabs-5">{{ page.system-details-tab-tab5-heading }}</a></li>
			{% endif %}
			{% if page.system-details-tab-tab6-heading %}
				<li><a href="#tabs-6">{{ page.system-details-tab-tab6-heading }}</a></li>
			{% endif %}
		</ul>
		<div class="tab-container">
			{% if page.system-details-tab-tab1-text %}
				<div class="tab-content clearfix" id="tabs-1">
					{{ page.system-details-tab-tab1-text }}
				</div>
			{% endif %}
			{% if page.system-details-tab-tab2-text %}
				<div class="tab-content clearfix" id="tabs-2">
					{{ page.system-details-tab-tab2-text }}
				</div>
			{% endif %}
			{% if page.system-details-tab-tab3-text %}
				<div class="tab-content clearfix" id="tabs-3">
					{{ page.system-details-tab-tab3-text }}
				</div>
			{% endif %}
			{% if page.system-details-tab-tab4-text %}
				<div class="tab-content clearfix" id="tabs-4">
					{{ page.system-details-tab-tab4-text }}
				</div>
			{% endif %}
			{% if page.system-details-tab-tab5-text %}
				<div class="tab-content clearfix" id="tabs-5">
					{{ page.system-details-tab-tab5-text }}
				</div>
			{% endif %}
			{% if page.system-details-tab-tab6-text %}
				<div class="tab-content clearfix" id="tabs-6">
					{{ page.system-details-tab-tab6-text }}
				</div>
			{% endif %}
		</div>
	</div>
</div>
<!--include:detail-tab:end-->