<!--includes:head:start-->
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" 	content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="author" 		content="Wireless Security Alarms - http://wirelesssecurityalarms.co.uk" />
	<meta name="keywords" 		content="security, alarms, alarm, wireless, wsa, wireless seucirity, home security, cctv, hikvision, hik, vision, colorvu, colourvu, colour, vu, acusense, smart, home, reliable, experienced, qualified, competitive, certified, glasgow, glasgow area, area, aico, AICO, Interlinked, InterLINK, InterLINKED, fire regulations, Pyronix V11, Pyronix Enforcer, app enabled, Enforcer, lanarkshire, dumbartonshire, renfrewshire, ayrshire, inverclyde, argyll" />
	<meta name="robots" 		content="all,index,follow"/> 
	<link href="{{ site.google-font-href }}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/assets/css/bootstrap-min.css" type="text/css" />
	<link rel="stylesheet" href="/style-min.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/style-extra-min.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<script type="text/javascript" src="/assets/js/jquery.js"></script>
	<script type="text/javascript" src="/assets/js/plugins-min.js"></script>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>
<!--include:head:end-->