<!--include:light-promo:start-->
<div class="promo promo-light promo-full bottommargin-lg">
	<div class="container clearfix">
		<h3>Call us today at <span>{{site.company-mobile-number}}</span> or email us at <span><a href="mailto:{{site.company-email-address}}?Subject=Enquiry" target="_top">{{site.company-email-address}}</a></span></h3>
		<span>We strive to provide our customers with state of the art technology installed by fully qualified security engineers.</span>
	</div>
</div>
<!--include:light-promo:end-->