<!--include:pricing-three-products:start-->
<div class="container clearfix">
	<div class="fancy-title title-dotted-border title-center">
		<h3>Our Popular Systems</h3>
	</div>
	<div class="pricing bottommargin clearfix">
		<div class="col-sm-4">
			<div class="pricing-box">
				<div class="pricing-title">
					<h3>System One</h3>
					<span>Small Flat or House</span>
				</div>
				<div class="pricing-price">
					<span class="price-unit">£</span>449<span class="price-tenure">plus VAT</span>
				</div>
				<div class="pricing-features">
					<ul>
                        <br>
						<li>Control Unit</li>
						<li>Sounder</li>
						<li>3 PIR Movement Sensors</li>
						<li>1 Door Contact Sensor</li>
						<li>APP Enabled</li>
                        <br><br>
					</ul>
				</div>
				<div class="pricing-action">
					<a href="{{ site.contact-us }}" class="btn btn-danger btn-block btn-lg">Order Now</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="pricing-box best-price">
				<div class="pricing-title">
					<h3>System Two</h3>
					<span>Medium Sized, Two Storey House</span>
					<span><strong>Most Popular</strong></span>
				</div>
				<div class="pricing-price">
					<span class="price-unit">£</span>620<span class="price-tenure">plus VAT</span>
				</div>
				<div class="pricing-features">
					<ul>
						<li>Control Unit</li>
						<li>Sounder</li>
						<li>4 PIR Movement Sensors</li>
						<li>2 Door Contact Sensor</li>
						<li>2 Remote Control Fobs</li>
						<li>APP Enabled</li>
						<li><i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
							<i class="icon-star3"></i>
						<i class="icon-star3"></i></li>
					</ul>
				</div>
				<div class="pricing-action">
					<a href="{{ site.contact-us }}" class="btn btn-danger btn-block btn-lg bgcolor border-color">Order Now</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="pricing-box">
				<div class="pricing-title">
					<h3>System Three</h3>
					<span>Large 4 bedroom, Two Storey House</span>
				</div>
				<div class="pricing-price">
					<span class="price-unit">£</span>730<span class="price-tenure">plus VAT</span>
				</div>
				<div class="pricing-features">
					<ul>
						<li>Control Unit</li>
						<li>Sounder</li>
						<li>1 PIR Movement Sensors</li>
						<li>2 Door Contact Sensors</li>
						<li>6 Shock Sensors</li>
						<li>2 Remote Control Fobs</li>
						<li>APP Enabled</li>
					</ul>
				</div>
				<div class="pricing-action">
					<a href="{{ site.contact-us }}" class="btn btn-danger btn-block btn-lg">Order Now</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--includes:pricing-three-products.html:end-->